<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">
				<nav class="menu">
					<!--burger-->
					<button class="menu__burger btn">
						<div class="menu__burger-line"></div>
						<div class="menu__burger-line"></div>
						<div class="menu__burger-line"></div>
					</button>
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link">Магазины </a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Акции </a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Доставка и оплата </a>
						</li>
					</ul>
				</nav>
				<a href="#" class="logo">
					<img src="images/icons/logo.svg" alt="">
				</a>
				<div class="header__box">
					<p class="header__address"> Москва, ул. Науки 25 </p>
					<ul class="user-list">
						<li class="user-list__item">
							<a class="user-list__link" href="#">
								<img src="images/icons/heart.svg" alt="">
							</a>
						</li>
						<li class="user-list__item">
							<a class="user-list__link" href="#">
								<img src="images/icons/user.svg" alt="">
							</a>
						</li>
						<li class="user-list__item">
							<a class="user-list__link basket" href="#">
								<img src="images/icons/basket.svg" alt="">
								<p class="basket__none">1</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<ul class="menu-mobile__list">
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/user-small.svg" alt="">
				<p>Войти</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/user-small.svg" alt="">
				<p>Регистрация</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/heart-small.svg" alt="">
				<p>Избранное</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/basket.svg" alt="">
				<p>Корзина</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/house.svg" alt="">
				<p>Магазины</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/percent.svg" alt="">
				<p>Акции</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/icons/box.svg" alt="">
				<p>Доставка и оплата</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Квадроциклы</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Катера</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Гидроциклы</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Лодки</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Вездеходы</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Снегоходы</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Двигатели</p>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<p>Запчасти</p>
			</a>
		</li>
	</ul>
	<div class="menu__mobile-linewrapper">
		<ul class="menu__mobile-line">
			<li class="menu__item">
				<a class="menu__link" href="#"> Магазины </a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#"> Акции </a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#"> Доставка и оплата </a>
			</li>
		</ul>
	</div>
	<div class="header__bottom">
		<div class="container">
			<ul class="menu-categories">
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Гидроциклы </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Катера </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Лодки </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Квадроциклы </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Вездеходы </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Снегоходы </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Двигатели </a>
				</li>
				<li class="menu__categories-item">
					<a class="menu__categories-link" href="#"> Запчасти </a>
				</li>
			</ul>
		</div>
	</div>
</header>