html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button:focus,
input:focus {
  outline: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body{
  color: #2f3035;
  font-size: 20px;
  line-height: 24px;
  @include sf400;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.img {  //гибкость изображения
  display: block;
  max-width: 100%;
  height: auto;
}

.page-section{
  margin-bottom: 80px;
}

.btn{
  cursor: pointer;
}