@media (max-width: 1100px) {

	//header
	.header {
		.menu__item+.menu__item {
			padding-left: 25px;
		}

		&__address {
			margin-right: 10px;
		}
	}

}

@media (max-width: 960px) {

	//header
	.header {

		&__bottom {
			display: none;
		}

		.menu__list {
			display: none;
		}

		.menu__burger {
			display: block;
			background-color: transparent;
			border: none;
			padding: 0;

			&-line {
				width: 34px;
				height: 3px;
				background: $dark;
				border-radius: 3px;
				margin: 8px 0;
			}
		}

		.menu__mobile-linewrapper {
			display: block;
			@include sf700;
			background-color: $light-gray;
			overflow-x: scroll;

			.menu__mobile-line {
				padding: 14px 0 14px 15px;
				width: 450px;
			}
		}
	}
}


@media (max-width: 620px) {

	//header
	.header__address {
		display: none;
	}
}


@media (min-width: 961px) {
	.menu__list {
		display: block !important;
	}
}