@import 'vars';
@import 'fonts';
@import 'global';

//start header
.header {
	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 122px;
		@include sf700;
	}

	.menu__item {
		display: inline-block;

		&+.menu__item {
			padding-left: 50px;
		}
	}

	&__box {
		display: flex;
	}

	&__adress {
		position: relative;
		padding-left: 30px;
		margin-right: 60px;
		width: 265px;
	}

	&__adress:before {
		position: absolute;
		content: '';
		background: url('../images/icons/marker.svg') no-repeat;
		width: 30px;
		height: 30px;
		left: 0;
		top: -10px;
	}

	.user-list {
		margin-left: 15px;
		display: flex;
		align-items: center;
	}

	.user-list__item {
		padding-right: 10px;
	}

	.basket {
		position: relative;
	}

	.basket__none {
		position: absolute;
		width: 20px;
		height: 20px;
		@include sf400;
		font-size: 10px;
		line-height: 2;
		text-align: center;
		bottom: -7px;
		right: -10px;
		background-color: $blue;
		color: #fff;
		border-radius: 50%;
	}

	&__bottom {
		margin-bottom: 80px;
	}

	.menu-categories {
		display: flex;
		justify-content: space-around;
		background: $light-gray;
		min-height: 53px;
		align-items: center;
	}


	.menu__categories-link {
		transition: all .3s;
		padding: 15px 0 14px;
		position: relative;
	}

	.menu__categories-link:before {
		content: '';
		position: absolute;
		width: 0;
		height: 3px;
		right: 0;
		background: $blue;
		bottom: 0;
		transition: all .3s;
		left: auto;
	}

	.menu__categories-link:hover {
		color: #000;
	}

	.menu__categories-link:hover:before {
		width: 100%;
		left: 0;
		right: auto;
	}
}

//end header
//start banner-section
.banner-section {
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__slider {
		max-width: 870px;
	}

	&__slider-img {
		object-fit: cover;
		min-height: 400px;
	}

	&__slider-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		cursor: pointer;
		border: none;
		margin: 0;
		padding: 0;
		z-index: 5;
	}

	&__slider-btnprev {
		left: 20px;
	}

	&__slider-btnnext {
		right: 20px;
	}

	.slick-active button {
		background-color: #fff;
	}
}

//slick transformation
.slick-dots {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	padding: 0 5px;
}

.slick-dots button {
	padding: 0;
	font-size: 0;
	margin: 0;
	width: 11px;
	height: 11px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: transparent;
}


//
.sale-item {
	max-width: 265px;
	max-height: 400px;
	text-align: center;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__info {
		color: #fff;
		background: $blue;
		padding: 8px 20px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.1em;
	}

	&__price {
		text-align: right;
	}

	&__img {
		object-fit: contain;
	}

	&__footer {
		background: $light-gray;
		padding: 25px 20px;
		font-size: 18px;
		line-height: 21px;

		span {
			color: $blue;
			@include b700;
			display: block;
		}
	}

	&__title {
		font-size: 18px;
		line-height: 21px;
		@include sf700;
		margin-bottom: 7px;
	}
}

.price {
	position: relative;
}

.sale-item__price-new {
	@include b700;
	font-size: 27px;
	line-height: 1.2;
	color: $blue;
	padding-right: 20px;
	margin-right: 8px;

	&:after {
		content: '';
		position: absolute;
		background: url('../images/icons/rubel.svg') no-repeat;
		width: 15px;
		height: 18px;
		right: 0;
		top: 6px;
	}
}

.sale-item__price-old {
	@include b400;
	font-size: 14px;
	line-height: 1.2;
	display: inline-block;
	color: $gray;
	padding: 2px 10px;
	margin-right: 4px;
	background: url('../images/icons/line.svg') no-repeat;

	&:after {
		content: '';
		position: absolute;
		background: url('../images/icons/rubel-gray.svg') no-repeat;
		width: 8px;
		height: 10px;
		right: 0;
		top: 5.5px;
	}

}

//end banner-section
//start search 
.search {

	&__tabs {
		margin-bottom: 25px;
	}

	&__tabs-item {
		padding: 11px 26px 12px;
	}

	&__tabs-item.tab--active {
		background: $light-gray;
		border-radius: 5px;
		font-weight: 700;
	}

	&__content-item.tabs-content--active {
		display: block;
	}

	&__content-form {
		display: flex;
	}

	&__content-input {
		background: $light-gray;
		border-radius: 3px;
		border: none;
		padding: 15px 20px;
		font-size: 16px;
		line-height: 19px;
		width: 100%;
	}

	&__content-input::placeholder {
		color: #656464;
	}

	&__content-btn {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #fff;
		@include sf700;
		background: $blue;
		border: none;
		border-radius: 3px;
		padding: 17px 40px;
		margin-left: -3px;
	}
}

.tabs-content {
	display: none;
}

.tabs-content.tabs-content--active {
	display: block;
}

//end search 
//start categories
.categories {
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		margin-bottom: 30px;
		border: 1px solid $gray;
		border-radius: 3px;
		width: 370px;
		display: flex;
		justify-content: space-between;
		padding: 20px 20px 16px;
		transition: all .3s;
	}

	&__item:hover {
		box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	}

	&__item-info {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__item-title {
		@include b700;
		font-size: 23px;
		line-height: 28px;
		transition: all .3s;
	}

	&__item:hover .categories__item-title {
		color: $blue;
	}

	&__item-text {
		font-size: 14px;
		line-height: 17px;
		color: $gray;
	}

	&__item-text::after {
		content: url('../images/icons/arrow-link.svg');
		padding-left: 3px;
	}

	&__item-img {
		width: 50%;
		text-align: center;
	}

	&__item-img img {
		max-width: 100%;
	}
}

//end categories
//start products
.products {
	&__title {
		font-size: 25px;
		line-height: 30px;
		@include b700;
		margin-bottom: 25px;
	}

	&__tabs {
		margin-bottom: 25px;
	}

	&__tab+&__tab {
		margin-left: 50px;
	}

	&__tab {
		padding-bottom: 10px;
	}

	&__tab.tab--active {
		border-bottom: 2px solid $blue;
	}
}


.product-item {
	border: 1px solid $gray;
	border-radius: 3px;
	text-align: center;
	padding: 52px 20px 31px;
	transition: all .4s;
	min-height: 400px;


	&__wrapper {
		position: relative;
		width: 271px;
	}

	&__wrapper.product-item__not-available .product-item__price {
		display: none;
	}

	&__notify-link {
		display: none;
	}

	&__wrapper.product-item__not-available .product-item__title {
		padding-bottom: 13px;
	}

	&__wrapper.product-item__not-available .product-item__notify-link {
		display: block;
		left: 0;
		right: 0;
		position: absolute;
		bottom: 20px;
		font-size: 16px;
		line-height: 19px;
		color: $blue;
		text-align: center;
	}

	&__wrapper.product-item__not-available .product-item__notify-link span {
		border-bottom: 1px solid $blue;
	}

	&__notify-text {
		display: none;
		@include sf700;
		font-size: 18px;
		line-height: 21px;
		color: $dark;
	}

	&__wrapper.product-item__not-available .product-item__notify-text {
		display: block;
	}

	&__wrapper.product-item__not-available .product-item__basket {
		display: none;
	}

	&__hover-text {
		padding: 18px 21px;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		position: absolute;
		display: inline-block;
		top: 30%;
		opacity: 0;
		transition: all .4s;
	}

	&:hover .product-item__hover-text {
		opacity: 1;
		color: $dark;
	}

	&:hover {
		box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
		color: $blue;
	}

	&:hover &__notify-text {
		color: $dark;
	}

	&__title {
		font-weight: normal;
		padding: 14px 0 25px;
	}

	//heart icon
	&__favorite {
		position: absolute;
		top: 16px;
		right: 19px;
		width: 25px;
		height: 24px;
		background-color: transparent;
		border: none;
		z-index: 5;
	}

	&__favorite:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 22px;
		background: url('../images/icons/heart.svg') no-repeat;
		left: 0;
		top: 0;
	}

	&__favorite--active:before {
		background: url('../images/icons/heart-blue.svg') no-repeat;

	}

	//

	&__price {
		@include b700;
		font-size: 30px;
		line-height: 36px;
	}

	&__basket {
		position: absolute;
		width: 60px;
		height: 40px;
		border-radius: 10px 0px 0px 0px;
		border: none;
		background: $blue;
		padding-top: 7px;
		bottom: 0;
		right: 0;
		z-index: 100;
	}

	&__more {
		text-align: center;
		margin-top: 35px;
	}

	&__more-link {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		background: $light-gray;
		padding: 17px 43px;
	}
}

.product-item--sale:before {
	content: 'SALE';
	padding: 8px 15px;
	background: $blue;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
}

.product-slider {
	&__slider-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		cursor: pointer;
		border: none;
		margin: 0;
		padding: 0;
		z-index: 5;
	}

	&__slider-btnprev {
		left: -40px;
	}

	&__slider-btnnext {
		right: -40px;
	}
}

.slick-slide img {
	display: inline;
}

//end products
//start footer
.footer {
	background-color: $light-gray;

	&__top {
		padding-top: 43px;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
	}

	&__top-item {
		width: 200px;
	}


	&__top-newslatter.footer__top-item {
		width: 295px;
		margin-right: 50px;
	}

	&__top-title {
		font-size: 14px;
		line-height: 22px;
	}

	&-form {
		margin-top: 33px;
		display: flex;
		justify-content: space-between;
	}

	&-form__input {
		border: none;
		background-color: #fff;
		font-size: 14px;
		line-height: 17px;
		padding: 0 12px;
	}

	&-form__input::placeholder {
		color: $gray;
	}

	&-form__btn {
		text-transform: uppercase;
		padding: 10px 16px;
		border: none;
		background-color: $blue;
		color: #fff;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.12em;
		@include sf500;
	}

	&-list__item {
		font-size: 14px;
		line-height: 22px;
	}

	&__top-social.footer__top-item {
		width: 250px;
	}


	&__bottom {
		padding: 46px 0 27px;
		display: flex;
		justify-content: center;
	}

	&__bottom-link {
		font-size: 10px;
		line-height: 12px;
		color: #48494d;
	}

	&__bottom-link+&__bottom-link {
		margin-left: 81px;
	}
}

.social-list {
	display: flex;
	align-items: center;
	height: 100%;

	&__item+&__item {
		margin-left: 30px;
	}
}

//end footer
//start breadcrumbs
.breadcrumbs {
	margin-bottom: 40px;

	&__list-item {
		display: inline-block;
		padding-right: 16px;
		margin-right: 10px;
		position: relative;
		font-size: 15px;
		line-height: 18px;
		color: $gray;
	}

	&__list-item:after {
		content: '';
		position: absolute;
		background: url('../images/icons/arrow-link.svg') no-repeat;
		right: 0;
		width: 6px;
		height: 10px;
		bottom: 3px;
	}

	&__list-item:last-child:after {
		display: none;
	}
}

//end breadcrumbs

//start catalog
.catalog {
	margin-bottom: 100px;

	&__title {
		font-size: 30px;
		line-height: 36px;
		@include sf700;
		margin-bottom: 26px;
	}

	&__filter {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__filter-items button {
		font-size: 14px;
		line-height: 17px;
		opacity: .7;
		padding: 5px 22px;
		border: none;
		border-radius: 3px;
		background-color: $light-gray;
	}

	&__filter-items button+button {
		margin-left: 8px;
	}

	&__filter-btn button {
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
	}

	&__filter-btn button+button {
		margin-left: 10px;
		margin-top: -1px;
	}

	&__inner {
		display: flex;
	}

	&__inner-aside {
		min-width: 290px;
		margin-right: 10px;
	}

	&__inner-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__inner-list .product-item__wrapper {
		margin-bottom: 30px;
	}

	.product-item img {
		width: 100%;
	}
}

//pagination
.pagination {
	width: 100%;
	margin-top: 70px;

	&-list {
		display: flex;
		justify-content: center;
	}

	&-list__item {
		padding: 6px 12px;
		border: 2px solid transparent;
		margin: 0 2px;
		font-size: 18px;
		line-height: 22px;
		@include b400;
		color: $gray;
	}

	&-list__item.active {
		padding: 6px 12px;
		border: 2px solid $blue;
		color: $blue;
	}

	&-list__item a {
		display: block;
	}
}

//aside
.aside-filter {
	&__tabs {
		display: flex;
		justify-content: space-between;
	}

	&__tab {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.09em;
		color: $gray;
		width: 50%;
		padding-bottom: 7px;

	}

	&__tab.tab--active {
		color: $dark;
		@include sf700;
	}

	&__tab.tab--active span {
		border-bottom: 2px solid $blue;
		padding-bottom: 7px;
		display: inline-block;
	}


	&__item-drop {
		margin: 40px 0;
	}

	&__item-title {
		font-size: 16px;
		line-height: 19px;
		@include sf500;
		padding-left: 26px;
	}

	&__content {
		display: flex;
	}

	&__content-box {
		width: 50%;
	}

	&__content-label {
		font-size: 14px;
		line-height: 17px;
		cursor: pointer;
	}

}

.filter__item-drop {
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		background: url('../images/icons/arrow-down.svg') no-repeat;
		width: 12px;
		height: 8px;
		left: 0;
		bottom: 5px;
		transform: rotate(0deg);
	}
}

.filter__item-drop--active:before {
	transform: rotate(180deg);

}

//end catalog

@import 'media';